springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
  info:
    title: User Management API
    description: API RESTfull para gestión de usuarios y teléfonos
    version: 1.0.0

jwt:
  secret: MiClaveSuperSecretaDeAlMenos32Caracteres123!
  expiration: 1h
  refresh: 7d

app:
  admin:
    email: leonardo.102408@gmail.com
    password: admin123

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus
  endpoint:
    health:
      show-details: always
  tracing:
    enabled: false
    sampling:
      probability: 1.0   # 100% de requests trazados (en producción puedes bajar este valor)

spring:
  h2:
    console:
      enabled: true
  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:
  mail:
    #host: smtp.office365.com
    host: smtp.gmail.com
    port: 587
    #username: leonardo.102408@hotmail.com
    #password: SamuGaby2008**
    username: leonardo.102408@gmail.com
    password: SiFaSaGa820*.-.*
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
