springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true
  info:
    title: User Management API
    description: API RESTfull para gestión de usuarios y teléfonos
    version: 1.0.0

jwt:
  secret: MiClaveSuperSecretaDeAlMenos32Caracteres123!
  expiration: 1h
  refresh: 7d

app:
  admin:
    email: leonardo.102408@gmail.com
    password: admin123

management:
  endpoints:
    web:
      exposure:
        include: health, metrics, prometheus
  endpoint:
    health:
      show-details: always
  tracing:
    enabled: false
    sampling:
      probability: 1.0

spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: leonardo.102408@gmail.com
    password: SiFaSaGa820*.-.*
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
