name: Java CI Pipeline

on:
  push:
    branches: [ "main" ]   # se ejecuta en cada push a main
  pull_request:
    branches: [ "main" ]   # también en PRs hacia main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Check Java version
        run: java -version

      # 1. Compilar y ejecutar pruebas unitarias con JaCoCo
      - name: Run unit tests with JaCoCo
        run: mvn clean test jacoco:report

      # 2. Subir reporte de cobertura como artefacto
      - name: Upload JaCoCo report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: target/site/jacoco/

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: target/site/jacoco/jacoco.xml
          fail_ci_if_error: true
         # token: ${{ secrets.CODECOV_TOKEN }} # solo en repos privados

      # 3. Ejecutar pruebas de integración
      #- name: Run integration tests
      #  run: mvn verify -Pintegration-tests
